<header id="fh5co-header-section" role="header" class="" >
    <div class="container">
        
        <!-- START #fh5co-logo -->
        <h1 id="fh5co-logo" class="pull-left"><a href="index.html">Display</a></h1>
        
        <!-- START #fh5co-menu-wrap -->
        <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="#" class="fh5co-sub-ddown">Dropdown</a>
                     <ul class="fh5co-sub-menu">
                        <li><a href="left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="#">HTML5</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown">JavaScript</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="#">jQuery</a></li>
                                <li><a href="#">Zipto</a></li>
                                <li><a href="#">Node.js</a></li>
                                <li><a href="#">AngularJS</a></li>
                            </ul>
                        </li>
                        <li><a href="#">CSS3</a></li> 
                    </ul>
                </li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>

<!-- START #fh5co-hero -->
<aside id="fh5co-hero" style="background-image: url({{$ctrl.headerBackgroundIcon}});">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="fh5co-hero-wrap">
                    <div class="fh5co-hero-intro">
                            <h2>We Are Creative People<span></span></h2>
                            <h1>Display Creative Studio</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>