<header id="fh5co-header-section" role="header" class="" >
    <div class="container">
        
        <!-- START #fh5co-logo -->
        <h1 id="fh5co-logo" class="pull-left"><a href="/">Zlata</a></h1>
        
        <!-- START #fh5co-menu-wrap -->
        <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
                <li ng-repeat="menuItem in $ctrl.menuList" ng-class="{'active': menuItem.isActive}">
                    <a ng-href="{{menuItem.url}}" ng-class="{'fh5co-sub-ddown': !!menuItem.subMenuList}">
                        {{menuItem.name}}
                    </a>
                    <ul class="fh5co-sub-menu" ng-if="!!menuItem.subMenuList">
                        <li ng-repeat="subMenuItem in menuItem.subMenuList">
                            <a ng-href="{{subMenuItem.url}}">
                                {{subMenuItem.name}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</header>

<!-- START #fh5co-hero -->
<aside id="fh5co-hero" style="background-image: url({{$ctrl.headerBackgroundIcon}});">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="fh5co-hero-wrap">
                    <div class="fh5co-hero-intro">
                            <h2>We Are Creative People<span></span></h2>
                            <h1>Zlata wedding fashion</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>