<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title>IshopWeb</title>
  <script type="text/javascript" src="javascripts/app.js"></script>
</head>
<body>

<div ng-view></div>

</body>
</html>