.red-asterisk:after
    content '*'
    color #ff0000


input.ng-invalid.ng-dirty, input.ng-invalid-date.ng-dirty
    background-color #fce0e0
    border 1px solid #e07272 !important

textarea.ng-invalid.ng-dirty, input.ng-invalid-date.ng-dirty
    background-color #fce0e0
    border 1px solid #e07272 !important

select.ng-invalid.ng-dirty
    background-color #fce0e0
    border 1px solid #e07272 !important

input:focus, select:focus, text:required, select.ng-invalid.ng-dirty:focus, input.ng-invalid.ng-dirty:focus
    box-shadow none !important
    border 1px solid #b0b6bd !important
    background-color #fff