<!DOCTYPE html>
<html lang="en" ng-app="ishop">
<head>
    <meta charset="utf-8" />
    <title>Ishop</title>
    <!-- link href="public/favicon.ico" rel="shortcut icon" type="image/x-icon" / -->
    <meta name="viewport" content="width=device-width" />
</head>
<body>

<h1>home index</h1>

    <div ng-view></div>

    <%= render partial: 'api_urls' %>
</body>
</html>