.btn-icon {
    img:first-child {
        display: inline;
    }
    
    img:last-child {
        display: none;
    }
}

.btn-icon:hover {
    img:first-child {
        display: none;
    }
    
    img:last-child {
        display: inline;
    }
}