.btn-icon {
    img:first-child {
        display: inline;
    }
    
    img:last-child {
        display: none;
    }
}

.btn-icon:hover {
    img:first-child {
        display: none;
    }
    
    img:last-child {
        display: inline;
    }
}

.ui-grid-canvas .ui-grid-row:hover .ui-grid-cell .ui-grid-cell-action {
    cursor: default;
}

.ui-grid-row, .ui-grid-cell, .ui-grid-cell .ui-grid-vertical-bar {
    height: 170px !important;
}