 <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="$ctrl.form" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" title="E-mail" name="email" type="email" autofocus ng-model="$ctrl.email" required 
                                ng-pattern="/[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}/" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" title="Password" name="password" type="password" value="" ng-model="$ctrl.password" required />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me" ng-model="$ctrl.remember" />Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="javascript:void(0)" class="btn btn-lg btn-success btn-block" ng-click="$ctrl.signin()">Login</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>