<h3>Menu</h3>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/vending-machines']">Vending Machines</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/vending-products']">Vending products</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/vending-parts']">Vending Parts</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/car-fleet']">Car Fleet</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/my-account']">Exchange Items</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/my-account']">Requests</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/my-account']">Orders</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/my-account']">Transfers</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/my-account']">My Account</a></div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="menu-box"><a [routerLink]="['/my-account']">Support</a></div>
    </div>
</div>