.form-group .checkbox {
    input {
        position: static;
        margin-left: 65px;  
    }
    
    label {
        position: relative;
        top: -13px;
        padding-left: 10px;
    }
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
    
    img {
        width: 150px;
    }
}

.product .gallery-box {
    width: 170px;
    height: 294px;
    padding: 5px;
    margin: 7px;
    float: left;
    border: 1px solid #ddd;
    overflow: hidden;
    
    .progress {
        margin-bottom: 0;
    }
    
    .thumbnail {
        height: 233px;
        width: 158px;
    }
    
    .title {
        height: 22px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 1px;
        
        label {
            position: relative;
            top: -2px;
            display: inline;
            font-weight: normal;
        }
    }
}

.start-upload-btn {
    position: absolute;
    bottom: -50px;
    right: 10px;
}