<div class="modal-header">
    <h4 class="modal-title">
        <span ng-if="!$ctrl.isEdit">Create</span> 
        <span ng-if="$ctrl.isEdit">Edit</span> 
        Product

        <img alt="Close icon" ng-src="{{$ctrl.closeIcon}}" ng-click="$ctrl.cancel()" class="clickable pull-right">
        <div class="clearfix"></div>
    </h4>
</div>

<div class="modal-body role-modal-body">
    <form name="$ctrl.form" novalidate>

    {{$ctrl.activeTab}}
    {{$ctrl.tabs.basicInformation}}
    {{$ctrl.tabs.imageUploading}}

    <button-default label="Select second tab" click-callback="$ctrl.activeTab = $ctrl.tabs.imageUploading"></button-default>

        <uib-tabset active="$ctrl.activeTab" justified="true">
            <uib-tab index="$ctrl.tabs.basicInformation" heading="Basic">

                <div class="pad15">
                    <div class="form-group">
                        <labeled-input label="Code" 
                                       field-id="code"
                                       value="$ctrl.product.code"
                                       is-required="true"
                                       placeholder="Enter product code..."
                                       label-class="width50">
                        </labeled-input>
                    </div>

                    <div class="form-group">
                        <labeled-input label="Published" 
                                       field-id="is-published"
                                       value="$ctrl.product.published"
                                       type="checkbox"
                                       css-class="checkbox"
                                       display-after="true">
                        </labeled-input>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="$ctrl.tabs.imageUploading" heading="Image uploading" disable="!$ctrl.isEdit">
                Image uploading content
            </uib-tab>
        </uib-tabset>

    </form>
</div>

<div class="modal-footer">
    <button-default label="Cancel" click-callback="$ctrl.cancel()" class="rightm10"></button-default>
    <button-spinner label="Add" click-callback="$ctrl.add()" is-disabled="$ctrl.form.$invalid" is-loading-spinner="$ctrl.isSavingSpinner" ng-if="!$ctrl.isEdit"></button-spinner>
    <button-spinner label="Edit" click-callback="$ctrl.edit()" is-disabled="$ctrl.form.$invalid" is-loading-spinner="$ctrl.isSavingSpinner" ng-if="$ctrl.isEdit"></button-spinner>
</div>
