<div class="modal-header">
    <h4 class="modal-title">
        <span ng-if="!$ctrl.isEdit">Create</span> 
        <span ng-if="$ctrl.isEdit">Edit</span> 
        Product

        <img alt="Close icon" ng-src="{{$ctrl.closeIcon}}" ng-click="$ctrl.cancel()" class="clickable pull-right">
        <div class="clearfix"></div>
    </h4>
</div>

<div class="modal-body role-modal-body">
    <form name="$ctrl.form" novalidate>

        <uib-tabset active="$ctrl.activeTab" justified="true">
            <uib-tab index="$ctrl.tabs.basicInformation" heading="Basic" select="$ctrl.selectTab($ctrl.tabs.basicInformation)">

                <div class="pad15">
                    <div class="form-group">
                        <labeled-input label="Code" 
                                       field-id="code"
                                       value="$ctrl.product.code"
                                       is-required="true"
                                       placeholder="Enter product code..."
                                       label-class="width50">
                        </labeled-input>
                    </div>

                    <div class="form-group">
                        <labeled-input label="Published" 
                                       field-id="is-published"
                                       value="$ctrl.product.published"
                                       type="checkbox"
                                       css-class="checkbox"
                                       display-after="true">
                        </labeled-input>
                    </div>
                </div>

            </uib-tab>

            <uib-tab index="$ctrl.tabs.imageUploading" heading="Image uploading" disable="!$ctrl.isEdit" select="$ctrl.selectTab($ctrl.tabs.imageUploading)">
              <div class="pad15">
                
                <div flow-init="{target: $ctrl.uploadUrl, testChunks: false }" 
                     flow-file-success="$ctrl.flowFileSuccess($message)" 
                     flow-complete="$ctrl.flowComplete()" 
                     flow-error="$ctrl.flowError($file, $message, $flow.files)" 
                     flow-file-added="$ctrl.flowFileAdded($flow, $file, $event)">
                        
                    <div class="clear pad15" flow-drop flow-drag-enter="style={border:'2px dashed green'}" flow-drag-leave="style={}" ng-style="style">
                        <span flow-btn class="btn btn-default">Upload Images</span>
                        <span>
                            <b>OR</b>
                            Drag And Drop your images here
                        </span>

                        <button type="button" class="btn btn-default float-right topm2 start-upload-btn" ng-click="$ctrl.startUpload($flow)" ng-disabled="$flow.files.length == 0">Start upload</button>
                    </div>

                    <!-- <files-grid grid-data="$flow.files" 
                                total-server-items="$flow.files.length" 
                                show-empty-message="There are no files to display - try uploading one." 
                                is-empty="$flow.files.length == 0">
                    </files-grid> -->

                    <div class="gallery-box" ng-repeat="file in $flow.files" title="{{file.name}}">
                        <span class="title">
                            <input id="image-{{$index}}" type="radio" name="cover" ng-model="$ctrl.coverImageIdentifier" ng-value="file.uniqueIdentifier" />
                            <label for="image-{{$index}}">{{file.name}}</label>
                        </span>
                        <div ng-show="$flow.files.length" class="thumbnail" ng-click="$ctrl.coverImageIdentifier = file.uniqueIdentifier">
                            <img flow-img="file" />
                        </div>

                        <uib-progressbar class="progress-striped" value="file.sizeUploaded() * 100/file.size" type="info">
                            {{file.sizeUploaded() * 100/file.size}}%
                        </uib-progressbar>

                        <!-- <div ng-class="{active: file.isUploading()}" class="progress progress-striped">
                            <div ng-style="{width: (file.progress() * 100) + '%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar" style="width: 100%;">
                                <span class="sr-only">1% Complete</span>
                            </div>
                        </div> -->

                        <div class="btn-group">
                            <a ng-click="file.cancel()" class="btn btn-xs btn-danger">Remove</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

              </div>
            </uib-tab>
        </uib-tabset>

    </form>
</div>

<div class="modal-footer">
    <button-default label="Cancel" click-callback="$ctrl.cancel()" class="rightm10" ng-class="{'rightm110': $ctrl.isCurrentTab($ctrl.tabs.imageUploading)}"></button-default>

    <span ng-show="$ctrl.isCurrentTab($ctrl.tabs.basicInformation)">
        <button-spinner label="Add" click-callback="$ctrl.add()" is-disabled="$ctrl.form.$invalid" is-loading-spinner="$ctrl.isSavingSpinner" ng-if="!$ctrl.isEdit"></button-spinner>

        <button-spinner label="Edit" click-callback="$ctrl.edit()" is-disabled="$ctrl.form.$invalid" is-loading-spinner="$ctrl.isSavingSpinner" ng-if="$ctrl.isEdit"></button-spinner>
    </span>
</div>
