<div class="modal-header">
    <div class="modal-title">
        <span ng-if="!$ctrl.isEdit">Create</span> 
        <span ng-if="$ctrl.isEdit">Edit</span> 
        Product
    </div>
</div>

<div class="modal-body role-modal-body">
    <form name="$ctrl.form" novalidate>

      <p>
          <labeled-input label="Code" 
                         field-id="product-code"
                         value="$ctrl.product.code"
                         is-required="true"
                         placeholder="Enter product code...">
          </labeled-input>
      </p>

    </form>
</div>

<div class="modal-footer">
    <button-default label="Cancel" click-callback="$ctrl.cancel()" class="rightm10"></button-default>
    <button-spinner label="Add" click-callback="$ctrl.add()" is-disabled="$ctrl.form.$invalid" ng-if="!$ctrl.isEdit"></button-spinner>
    <button-spinner label="Edit" click-callback="$ctrl.edit()" is-disabled="$ctrl.form.$invalid" ng-if="$ctrl.isEdit"></button-spinner>
</div>
