.clickable {
    cursor: pointer;
    
    &:hover {
        text-decoration: none;
    }
}

.btn {
    border: 1px solid #ccc;
}

.ui-grid-no-results {
    padding: 6px 8px;
    position: static;
    width: auto !important;
    border-bottom: 1px solid #d4d4d4;
    height: auto !important;
    cursor:default;
}

.text-center {
    text-align: center;
}

.ui-grid-viewport .loading-spinner {
    text-align: center;
    vertical-align: middle;
}

.rightm10 {
    margin-right: 10px;
}

.form-control {
    display: inline;
    width: auto;
}

.btn-icon {
    img:first-child {
        display: inline;
    }
    
    img:last-child {
        display: none;    
    }
}

.btn-icon:hover {
    img:first-child {
        display: none;
    }
    
    img:last-child {
        display: inline;    
    }
}
