.clickable {
    cursor: pointer;
    
    &:hover {
        text-decoration: none;
    }
}

.btn {
    border: 1px solid #ccc;
}

.text-center {
    text-align: center;
}

.rightm10 {
    margin-right: 10px;
}

.form-control {
    display: inline;
    width: auto;
}

.width-250 {
    width: 250px;
}