.clickable {
    cursor: pointer;
    
    &:hover {
        text-decoration: none;
    }
}

.modal-header {
    img.clickable {
        &:hover {
            border: 1px solid #ccc;
            border-radius: 4px;
            position: relative;
            top: -1px;
            right: -1px;
        }
    }
}

.modal-body {
    .form-control {
        display: inline;
        width: auto;
    }
}

.btn {
    border: 1px solid #ccc;
}

.text-center {
    text-align: center;
}

.rightm10 {
    margin-right: 10px;
}

.width250 {
    width: 250px;
}

.width50 {
    width: 50px;
}

.pad15 {
    padding: 15px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 615px;
  }
}