<div id="portfolio">
    <div class="container bottom-border">
        <div class="row padding-top-40">
            <ul class="portfolio-group">

                <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40" ng-repeat="item in $ctrl.list">
                    <a ng-href="{{$ctrl.getUrlCallback({ item: item })}}">
                        <figure class="animate fadeInLeft">
                            <img alt="{{item.name}}" ng-src="{{$ctrl.getImageSourceCallback({ item: item })}}">
                            <figcaption>
                                <h3>{{item.name}}</h3>
                                <!-- <span>{{item.description}}</span> -->
                            </figcaption>
                        </figure>
                    </a>
                </li>

                <li class="portfolio-item margin-bottom-40" ng-if="$ctrl.list.length == 0" translate="NO_RECORDS_FOUND"></li>

            </ul>
        </div>
    </div>
</div>