<main-layout>

  <page-heading pre-title="{{'COLLECTION' | translate}} <b>{{$ctrl.collection.name}}</b>:"></page-heading>

  <div class="row">
      <div class="col-lg-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <!-- Products -->
                  <div class="input-group custom-search-form width250 pull-left">
                    <input type="text" translate-attr="{ placeholder: 'SEARCH_BY_NAME' }" class="form-control" ng-model="$ctrl.searchText" enter-pressed="$ctrl.search()">
                    <span class="clear-search" ng-show="$ctrl.searchText">
                        <i class="fa fa-cut clickable" title="cut" ng-click="$ctrl.clearSearch()"></i>
                    </span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.search()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                  </div>

                  <button-default label="{{'ADD_PRODUCT' | translate}}" click-callback="$ctrl.addProduct()" class="pull-right"></button-default>
                  <div class="clearfix"></div>

              </div>
              <div class="panel-body">

                <div class="row">
                  <div class="col-lg-12">
                    <product-grid grid-data="$ctrl.products"
                                  total-count="$ctrl.totalCount"
                                  sort-by-enum="$ctrl.sortByEnum"
                                  sort-by="$ctrl.sortBy"
                                  sort-by-direction="$ctrl.sortByDirection"
                                  show-empty-message="NO_RECORDS_FOUND"
                                  is-empty="$ctrl.products.length == 0 && !$ctrl.isLoadingSpinner" 
                                  loading-spinner="$ctrl.isLoadingSpinner">
                    </product-grid>
                  </div>
                </div>

              </div>
          </div>
      </div>
  </div>

  <product-editor-popup></product-editor-popup>

</main-layout>