.language-selector {
  padding: 10px 10px 0 0;

  img {
    height: 20px;
    width: 20px;
  }
  
  .dropdown-menu {
    min-width: inherit;
    
    li {
      a {
        padding: 5px 10px;
      }
    }
  }
}