<div class="btn-group" uib-dropdown>
  <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
    <img ng-src="{{$ctrl.selectedLanguage.icon}}" alt="selected language" />
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
    <li role="menuitem" ng-repeat="language in $ctrl.languageList">
      <a href="javascript:void(0)">
        <img ng-src="{{language.icon}}" alt="{{language.key}}" />
      </a>
    </li>
  </ul>
</div>