.item-editor {
    .panel-body {
        max-height: 300px;
        overflow-y: auto;

        input {
            width: 100%;
        }
        
        table {
            tbody {
                tr:first-child {
                    td {
                        border-top: none;
                    }
                }
            }
        }
    }
}