<!DOCTYPE html>
<html ng-app="admin">
    <head>
        <title>IShop Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div ng-view></div>

    </body>
</html>